.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #f6f6f7;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin: 0 10px;
  padding-left: 150px;
  padding-right: 100px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 20px;
}

.upload-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 20px;
  background-color: #f4f4f5;
}

.uploaded-image {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.placeholder-image {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.upload-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-file-upload {
  background-color: #008060;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
  border: none;
}

.file-name {
  margin-bottom: 10px;
}

.reset-button {
  background-color: #008060;
  color: white;
  padding: 10px 35px;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
  border: none;
}

.find-match-button {
  background-color: rgba(0,128,96,1);
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
  border: none;
}

.matching-products {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin-left: 20px;
  background-color: #f4f4f5;
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;
}

.carousel-inner {
  width: 300px;
  height: auto;
}

.carousel-control-prev, .carousel-control-next {
  width: 50px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.selectable-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.selectable-image:hover {
  border-color: #000000;
}

.image-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
  width: 80%; /* Adjust width as needed */
  height: 80%; /* Adjust height as needed */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.modal-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  object-fit: cover;
}

.uploaded-image-box img {
  max-width: 100%;
  height: auto;
}

.custom-file-upload:hover, .reset-button:hover, .find-match-button:hover {
  background-color: rgba(0,94,70,1);
}

.uploaded-box {
  margin-top: 20px;
}

.uploaded-image-preview {
  max-width: 100%;
  height: auto;
}